@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --app-gray: #1c1d20;
  --app-white: #fff;
  --app-padding-top: 24px;
  --app-orange: #ffa500;
  --app-light-gray: #818190;
}

ul {
  list-style: none;
}

li, a {
  text-decoration: none;
}

p, h1, h2, h3 {
  cursor: default;
}

.container {
  width: min(100% - 20px, 1100px);
  margin-inline: auto;
}

/* Header */
header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--app-gray);
  width: 100%;
  box-shadow: 0 0 10px 0 #000000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: var(--app-white);
  
  ul {
    display: flex;
    gap: 20px;
  
    a {
      color: var(--app-white);
      transition: 0.5s ease;
    }

    a:hover {
      color: var(--app-orange);
    }
  }
}

.copyright {
  display: flex;
  gap: 200px;
}

.menu {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.menu-tab {
  display: none;
  padding-top: 67px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #000000d8;
  height: 100vh;
  width: 100%;
}

.menu-content {
  height: 100%;

  a {
    color: var(--app-white);
    font-size: 60px;
    font-weight: 700;
    transition: 0.5s ease;
  }
}

.menu-links {
  height: 100%;
  display: grid;

  ul {
    align-self: center;

    a:hover {
      color: var(--app-orange);
    }
  }
}

.media-links {
  align-self: end;
  padding-bottom: 10px;

  h3 {
    font-size: 14px;
    color: var(--app-white);
  }

  a {
    color: var(--app-white);
    display: flex;
    align-items: center;
    gap: 5px;
  }

  ul {
    display: flex;
    gap: 10px;
  }

  .line {
    background-color: var(--app-white);
    height: 2px;
    margin: 5px 0 10px;
  }
}

.menu-display {
  display: inline;
  opacity: 1;
}

.menu-btn-toogle {
  color: var(--app-orange);
}

/* Hero Banner */
.hero-banner {
  padding-top: 62px;
  background-color: #1c1d20d7;
  position: relative;
  color: var(--app-white);
}

.hero-background {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.hero-headline {
  
  h1 {
    font-size: 60px;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
  }

  span {
    display: block;
  }
}

.skill-list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 25px;

  img {
    width: 25px;
  }
}

.fa-html5 { color: #ff4500; }
.fa-css3-alt { color: cyan; }
.fa-js { color: var(--app-orange) }

.me-picture {
  padding: 20px;
  background-color: #ffffff04;
}

/* About Me */
main {
  padding: 54px 0;
}

.about-me {

  h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--app-gray);
  }

  p {
    font-size: 18px;
    font-weight: 500;
    color: #323232;
  }
  .circle-link {
    display: none;
  }
}

.about-me-headline {
  padding-top: 24px;

  h2 {
    font-size: 40px;
  }
}

/* Projects */
.project {
  margin-top: 95px;
}

.project-content {
  margin-bottom: 70px;
}

.project > h3 {
  font-size: 15px;
  color: var(--app-gray);
}

.project-picture-box {
  background-color: var(--app-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 424px;
  overflow: hidden;
  padding: 10px;

  img {
    width: 100%;
  }
}

.project-title {
  color: var(--app-gray);
  margin-top: 24px;
  font-size: 30px;
  
  h3 {
    font-weight: 400;
  }
}

.project-headline {
  color: var(--app-gray);
  display: flex;
  justify-content: space-between;
  font-weight: 450;
}

.project-link {
  margin-top: 10px;
  display: flex;
  justify-content: right;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 42px;
    border-radius: 5px;
  }
}

.line {
  height: 1px;
  width: 100%;
  border-top: 1px solid var(--app-gray);
  margin: 5px 0 20px;
}

.live-btn {
  font-weight: 600;
  color: var(--app-gray);
  background-color: var(--app-orange);
  margin-right: 10px;
}

.git-btn {
  color: var(--app-white);
  background-color: var(--app-gray);
}

/* footer */
footer {
  padding: 45px 0 5px;
  padding-bottom: 5px;
  background-color: var(--app-gray);

  span {
    display: block;
  }

  .container > h3 {
    font-size: 45px;
    color: var(--app-white);
    font-weight: 100;
  }

  .container > .line {
    background-color: var(--app-white);
    height: 2px;
  }

  .circle-link {
    position: absolute;
    display: flex;
    justify-content: right;
  }
}

.social-link {
  margin: 54px 0 54px;

  a {
    display: flex;
    justify-content: center;
    border: 1px solid var(--app-light-gray);
    border-radius: 50px;
    padding: 20px 0;
    color: var(--app-white);
    margin: 10px 0;
    transition: 0.5s ease-in;
  }

  a:hover {
    background-color: var(--app-orange);
  }
}

footer .media-links {
  h3 {
    font-size: 14px;
    color: var(--app-light-gray);
  }

  a {
    color: var(--app-white);
    display: flex;
    align-items: center;
    gap: 5px;
  }

  ul {
    display: flex;
    gap: 10px;
  }

  .line {
    background-color: var(--app-white);
    height: 2px;
    margin: 5px 0 10px;
  }
}

/* Media Query */
@media screen and (min-width:865px) {
  .project-picture-box {
    padding: 15px;
    width: auto;
    height: auto;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width:913px) {
  .hero-headline > h1 { font-size: 45px; }
  .hero-headline > p { font-size: 16px; }
  .skill-list { 
    font-size: 18px; 
    
    img { width: 18px; }
  }

  .about-me > h2 { font-size: 27px; }
  .about-me-headline > p { font-size: 16px; }

  .project-title > h3 { font-size: 27px; }
  .project-headline > p { font-size: 16px; }

  footer .container > h3 { font-size: 40px; }
}

@media screen and (max-width:754px) {
  .me-picture {
    display: none;
  }

  .hero-headline > h1 { font-size: 50px; }
  .hero-headline > p { font-size: 20px; }

  .skill-list { 
    font-size: 25px;
  
    img { width: 25px; }
  }
}

@media screen and (min-width: 556px) {
  .menu-tab {
    display: none;
  }
}

@media screen and (max-width: 555px) {
  nav {
    display: none;
  }

  .menu {
    display: inline;
  }

  .media-links a {
    font-size: 14px;
  }

  .hero-headline > h1 { font-size: 45px; }
  .hero-headline > p { font-size: 16px; }
  .skill-list { 
    font-size: 18px; 
    
    img { width: 18px; }
  }  
}

@media screen and (max-width: 482px) {
  .hero-headline > h1 { font-size: 37px; }
  .hero-headline > p { font-size: 14px; }

  .skill-list { 
    font-size: 17px; 
    
    img { width: 18px; }
  }  

  .about-me > h2 { font-size: 24px; }
  .about-me-headline > p { font-size: 14px; }

  .project-title > h3 { font-size: 24px; }
  .project-headline > p { font-size: 14px; }

  .project-link a {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
  }

  footer .container > h3 { 
    font-size: 30px; 
    font-weight: 600;
  }

  .media-links a {
    font-size: 14px;
  }
}