@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

:root {
  --app-gray: #1c1d20;
  --app-white: #fff;
  --app-padding-top: 24px;
  --app-orange: #ffa500;
  --app-light-gray: #818190;
}

ul {
  list-style: none;
}

li, a {
  text-decoration: none;
}

p, h1, h2, h3 {
  cursor: default;
}

.container {
  width: min(100% - 20px, 1100px);
  margin-inline: auto;
}

/* Header */
header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--app-gray);
  width: 100%;
  box-shadow: 0 0 10px 0 #000000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: var(--app-white);
  
  ul {
    display: flex;
    gap: 20px;
  
    a {
      color: var(--app-white);
      transition: 0.5s ease;
    }

    a:hover {
      color: var(--app-orange);
    }
  }
}

.copyright {
  display: flex;
  gap: 200px;
}

.menu {
  display: none;
}

/* Hero Banner */
.hero-banner {
  padding-top: 62px;
  background-color: #1c1d20d7;
  position: relative;
  color: var(--app-white);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.hero-headline {
  
  h1 {
    font-size: 60px;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
  }

  span {
    display: block;
  }
}


.me-picture {
  padding: 20px;
  background-color: #ffffff04;
}

.hero-background {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  img {
    width: 100%;
  }
}

/* About Me */
main {
  padding: 54px 0;
}

.about-me {

  h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--app-gray);
  }

  p {
    font-size: 18px;
    font-weight: 500;
    color: #323232;
  }
  .circle-link {
    display: none;
  }
}

.about-me-headline {
  padding-top: 24px;

  h2 {
    font-size: 40px;
  }
}

/* Projects */
.project {
  margin-top: 95px;
}

.project-content {
  margin-bottom: 70px;
}

.project > h3 {
  font-size: 15px;
  color: var(--app-gray);
}

.project-picture-box {
  background-color: var(--app-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 424px;
  overflow: hidden;
  padding: 10px;

  img {
    width: 100%;
  }
}

.project-title {
  color: var(--app-gray);
  margin-top: 24px;
  font-size: 30px;
  
  h3 {
    font-weight: 400;
  }
}

.project-headline {
  color: var(--app-gray);
  display: flex;
  justify-content: space-between;
  font-weight: 450;
}

.project-link {
  margin-top: 10px;
  display: flex;
  justify-content: right;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 42px;
    border-radius: 5px;
  }
}

.line {
  height: 1px;
  width: 100%;
  border-top: 1px solid var(--app-gray);
  margin: 5px 0 20px;
}

.live-btn {
  font-weight: 600;
  color: var(--app-gray);
  background-color: var(--app-orange);
  margin-right: 10px;
}

.git-btn {
  color: var(--app-white);
  background-color: var(--app-gray);
}

/* footer */
footer {
  padding: 45px 0 5px;
  padding-bottom: 5px;
  background-color: var(--app-gray);

  span {
    display: block;
  }

  .container > h3 {
    font-size: 45px;
    color: var(--app-white);
    font-weight: 100;
  }

  .circle-link {
    position: absolute;
    display: flex;
    justify-content: right;
  }
}

.social-link {
  margin: 54px 0 54px;

  a {
    display: flex;
    justify-content: center;
    border: 1px solid var(--app-light-gray);
    border-radius: 50px;
    padding: 20px 0;
    color: var(--app-white);
    margin: 10px 0;
    transition: 0.5s ease-in;
  }

  a:hover {
    background-color: var(--app-orange);
  }
}

footer .media-links {
  h3 {
    font-size: 14px;
    color: var(--app-light-gray);
  }

  a {
    color: var(--app-white);
    display: flex;
    align-items: center;
    gap: 5px;
  }

  ul {
    display: flex;
    gap: 10px;
  }

  .line {
    background-color: var(--app-white);
    height: 2px;
    margin: 5px 0 10px;
  }
}

/* Media Query */
@media screen and (min-width:865px) {
  .project-picture-box {
    padding: 15px;
    width: auto;
    height: auto;

    img {
      width: 100%;
    }
  }
}